*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  visibility: visible;
  opacity: 1;
}

body {
  height: 100vh;
  width: 100%;
}

.fireworks {
  background-color: #222;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 19rem;
  height: 8rem;
  background-color: rgba(88, 88, 87, 0.616);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ffe;
  font-size: 40px;
  border-radius: 20px;
  padding: 1rem;
}

.button_container{
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 23rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button{
  background-color: rgba(88, 88, 87, 0.616);
  font-size: 24px;
  padding: 1rem;
  color: #ffe;
  font-weight: 700;
  border-radius: 12px;
  display: flex;
  align-items: center;
  transition: .3s ease;

  &:hover{
    background-color: rgba(53, 53, 53, 0.616);
  }
}

.mdi--power {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m16.56 5.44l-1.45 1.45A5.97 5.97 0 0 1 18 12a6 6 0 0 1-6 6a6 6 0 0 1-6-6c0-2.17 1.16-4.06 2.88-5.12L7.44 5.44A7.96 7.96 0 0 0 4 12a8 8 0 0 0 8 8a8 8 0 0 0 8-8c0-2.72-1.36-5.12-3.44-6.56M13 3h-2v10h2'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
